.videos {
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 10px;

  padding-bottom: 0;
}
.btn-container {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  /* margin-top: -0.5rem; */
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.resize-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  padding: 20px;

  padding-bottom: 0;
  flex-direction: column;
}
.btn-container .category-btn {
  background: transparent;
  outline: none;
  border: 2px solid lightgray;
  font-size: 1rem;
  margin: 0.2rem 0.5rem;
  letter-spacing: 1px;
  padding: 0.2rem 0.8rem;
  color: black;
  cursor: pointer;
  border-radius: 2rem;
}
.category-btn:hover {
  background-color: var(--primary-voilet);
  border: 2px solid var(--primary-voilet);
  color: white;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.flex-div {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 480px) {
  .flex-container {
    align-items: center;
    justify-content: center;
  }
}
