.video-card {
  margin: 0.2rem;
  padding: 0.3rem;
  width: 20rem;
  cursor: pointer;
}

.video-card:hover {
  background-color: whitesmoke;
}

.video-card .thumbnail {
  width: 100%;
  border-radius: 2px;
}

.video-card .info-desp {
  font-size: 1rem;
  font-weight: 600;
  color: black;

  word-spacing: 1px;
  -webkit-line-clamp: 2;
}

.video-card .abt-container .info-views {
  color: var(--secondary-dark);
  font-size: 0.9rem;
  margin-top: -0.5rem;
}
.video-card .abt-container .info-creator {
  color: var(--secondary-dark);
  font-size: 0.9rem;
  padding-top: 0.3rem;
}
