.historyContainer {
  display: flex;
}

.historyVideoContainer {
  flex: 1;
  padding: 15px 20px;
  padding-bottom: 0;
}

.details-display {
  display: flex;
  flex-wrap: wrap;
}
.details-imgCard {
  flex: 0.2;
}

.details-longCards {
  display: flex;
  flex: 0.8;
  flex-direction: column;
  padding: 0 1rem;
}

.explore {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.explore > img {
  max-width: 450px;
}

@media screen and (min-width: 480px) {
  .details-longCards {
    padding-top: 1rem;
    flex: 1;
  }
}
