.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  position: sticky;
  z-index: 10;
  top: 0;

  background-color: white;
}

.nav-left {
  display: flex;
  align-items: center;
}
.navbar .link {
  text-decoration: none;
}
.nav-logo {
  font-size: 1.7rem;
  color: var(--primary-voilet);
  letter-spacing: 1px;
}

.nav-input {
  display: none;
  align-items: center;
  width: 40%;
  border: 3px solid lightgray;
  border-radius: 4px;
  position: relative;
}
.nav-input > input {
  flex: 1;
  border: none;
  padding: 10px;
  font-size: 1rem;
}
.nav-input > input:focus {
  outline: none;
}

.nav-searchBtn {
  width: 50px !important;
  border-left: 1px lightgray;
  color: grey;
  position: absolute;
  right: 0;
  cursor: pointer;
}
.nav-right {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.nav-right .nav-logout > h3 {
  color: var(--secondary-dark);
  font-size: 1.3rem;
}
.nav-right .nav-logout > button {
  border: none;
  padding: 0.2rem;

  font-size: 1rem;
  border-radius: 3px;
  font-weight: 500;
  cursor: pointer;
  color: var(--primary-voilet);
}
@media (max-width: 1100px) {
  .nav-logo {
    font-size: 1.5rem;
  }
  .nav-input {
    width: 40%;
  }

  .nav-input > input {
    flex: 1;

    padding: 6px;
  }
  .nav-searchBtn {
    width: 20px !important;
  }

  .navbar .nav-icon {
    font-size: 1.2rem;
    margin-right: 0.5rem;
  }
}
