@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

:root {
  --primary-voilet: #8f00ff;
  --grey: #ebeced;
  --primary-dark: #272c33;
  --secondary-dark: #3f4652;
  --light-voilet: #cf9cf7;
  --primary-grey: rgb(148, 142, 142);
  --grey-1: rgb(177, 174, 174);
  --black: #000000;
  --light-grey: #fcfcfc;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
