.playlistContainer {
  display: flex;
}

.playlistVideoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px 20px;
  flex: 1;
}

.playlistImgContainer {
  cursor: pointer;
  margin: 0.2rem;
}
